.my-header.white {
  background-color: #fff;
  color: #333;
}

.my-header .my-header-left {
  position: absolute;
  font-size: .37333rem;
  line-height: .56rem;
  top: 0 !important;
  left: 0 !important;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  top: .32rem;
}

.my-header-left .arrow {
  width: 23px;
  margin-left: .4rem;
  vertical-align: middle;
}

.my-header .my-header-title {
  margin: 0 2.24rem;
  height: 53px;
  line-height: 53px;
  font-size: .48rem;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;

}

.my-header .my-header-title>span {
  font-weight: 700;
  font-size: 20px;
}

.row-user-history {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  background: #eff5fb;
}

.my-header {
  position: relative;
  box-sizing: border-box;
}

.payment-history-wrapper .ele-item {
  width: 47%;
  text-align: center;
  margin: 0 5px;
}

.payment-history-wrapper .ele_wrap {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  margin: 0 10px;
  max-width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.payment-history-list {
  margin-top: 20px;
  margin-bottom: 100px;
}

.payment-history-list .sub-tabs {
  display: flex;
  width: fit-content;
  margin: 0 20px;
}

.payment-history-list .sub-tab.l-list {
  text-align: center;
  font-size: 14px;
  margin: 0 5px;
  color: #8a8d96;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.payment-history-list .sub-tab.is-active {
  color: #4290ff;
  font-weight: bold;
}

.all-sub-content {
  display: none;
  margin-top: 20px;
}


.row-user-history .list-sub-tab {
  background: #fff;
  padding: 12px 0;
  margin: 0 10px;
  overflow: auto;
}

p.no-data {
  text-align: center;
  margin: 0 10px;
  color: #92949c;
}

.sc-essYiGF.dWrirrS.txx-item {
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0 10px;
  padding: 20px;
  margin-top: 10px;
  background: #fff;
}

.tx-header-balance {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.tx-info-balance {
  width: 100%;
  margin-top: 15px;
  text-align: right;
}

.tx-info-balance p {
  color: #8a8d96;
  font-size: 12px;
}

.tx-info-balance p .balance-pre {
  color: #2dd36f;
  font-size: 14px;
  font-weight: bold;
}

.balance-succ {
  color: #2dd36f;
  font-size: 14px;
  font-weight: bold;
}

.header-balance {
  width: 60%;
}

span.balance-succ {
  width: 40%;
  text-align: right;
}

.balance-time {
  color: #8a8d96;
  font-size: 12px;
  margin-top: 5px;
}

.balance-title {
  font-size: 14px;
}

.balance-takeout {
  width: 40%;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  color: #ec1a23;
}

.detail-balance-list span {
  color: #8a8d96;
  font-size: 12px;
}

.detail-balance-list {
  text-align: right;
  margin-top: 15px;
}